body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    background-color: #191919;
    color: #ecf0f1;
    --pad: 3px;
    --margin: 5px;
}

.wrapper {
    margin: 0 auto;
    max-width: 1500px;
    padding: calc(var(--pad) * 5);
}

.name {
    font-size: 2rem; 
    margin-top: calc(var(--margin) * 5);
}

.short-bio {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-top: calc(var(--margin) * 5);
}

.projects {
    margin-top: calc(var(--margin) * 4);
}

.projects h2 {
    display: block;
    font-size: 1.8rem;
}

.projects-container {
    margin-top: calc(var(--margin) * 5);
}

.projects-item {
    display: inline-block;
    width: 30%;
    max-width: 300px;
    margin-right: calc(var(--margin) *3);
    margin-bottom: calc(var(--margin) *3);    
    padding: calc(var(--pad) *2);
}

.projects-item strong {
    display: block;
}

.projects-item span {
    display: block;
}

footer {
    display: flex;
    border: 1px solid white;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    position: absolute;
    bottom: calc(var(--margin) * 3);;
    left: 0;
    right: 0;


}

@media (max-width: 600px) {
    .projects-item {
        display: block;
        width: 100%;
        max-width: none;
    }
    
    footer {
        flex-direction: column;
    }
}